# Team Random Selection Code :)

1.   List item
2.   List item

In [1]:
import random

# Define the four test lists
level1_list = [1, 2, 3, 4]
level2_list = ['a', 'b', 'c','d']
level3_list = [99, 88, 77,66]
level4_list = ["1$","2&","3%","4©"]

Think about a code that help us to have random new mixed lists, each list should have one element from each level lists.

Output may be like that following:
```python
team1 = [1, 'c', 88, '2&']
team2 = [4, 'a', 99, '3%']
team3 = [2, 'b', 77, '4©']
team4 = [3, 'd', 66, '1$']
```

Let'**s** Start ;)

In [15]:
# your code here
import random

# Define all your level lists here
level1_list = [1, 2, 3, 4]
level2_list = ['a', 'b', 'c', 'd']
level3_list = [99, 88, 77, 66]
level4_list = ["1$", "2&", "3%", "4©"]

In [16]:
# Get the number of elements from the shortest list
num_elements = min(len(lst) for lst in [level1_list, level2_list, level3_list, level4_list])

In [17]:
# Create an empty list to store teams
teams = []

In [18]:
# Loop for the number of elements
for _ in range(num_elements):
  team = []
  for level_list in [level1_list, level2_list, level3_list, level4_list]:
    team.append(random.choice(level_list))
  teams.append(team)

In [19]:
# Print the randomly generated teams
for i, team in enumerate(teams):
  print(f"Team {i+1}: {team}")

Team 1: [3, 'd', 66, '3%']
Team 2: [1, 'a', 66, '4©']
Team 3: [4, 'd', 77, '4©']
Team 4: [3, 'd', 88, '2&']

Let's try by numpy ;)

In [25]:
import numpy as np

level1_list = np.array([1, 2, 3, 4])
level2_list = np.array(['a', 'b', 'c', 'd'])
level3_list = np.array([99, 88, 77, 66])
level4_list = np.array(["1$", "2&", "3%", "4©"])

In [26]:
all_levels = np.array([level1_list, level2_list, level3_list, level4_list])

In [27]:
num_elements = all_levels.shape[1]

In [28]:
for level in all_levels:
  np.random.shuffle(level)

In [29]:
teams = all_levels[:, :num_elements].T

for i, team in enumerate(teams):
  print(f"Team {i+1}: {team.tolist()}")

Team 1: ['1', 'c', '77', '3%']
Team 2: ['3', 'd', '99', '2&']
Team 3: ['2', 'a', '88', '1$']
Team 4: ['4', 'b', '66', '4©']